bin/
obj/
.nuke/temp
.nuke/parameters.local.json
*.user
#*.idea
.idea/.idea.Drift/.idea/watcherTasks.xml
.idea/.idea.Drift/.idea/encodings.xml
.idea/.idea.Drift.Build/.idea/encodings.xml
.air/
*.DotSettings
*.received.*
artifacts/
publish/
TestResults/
*.log
*.binlog
*.binlog-warnings-only.log
containerlab/*/