bin/
obj/
.nuke/temp
.nuke/parameters.local.json
*.user
#*.idea
.idea/.idea.Drift/.idea/watcherTasks.xml
.idea/.idea.Drift/.idea/encodings.xml
*.DotSettings
*.received.*
artifacts/
publish/
TestResults/
build.binlog
build.binlog-warnings-only.log
publish.binlog
publish.binlog-warnings-only.log